*
{
    /*height: 30px;
    background-color: rgb(234,236,208);*/
}

.top-panel
{
    position: relative;
    /*top: 20px;*/
    height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    justify-content: flex-start;
    flex-direction: row;
}
.horisontal-button-list
{
    position: relative;
    /*top: 20px;*/
    /*bottom: 30px;*/
    /*left: 10px;*/
    height: 30px;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}
.main-window
{
    position: relative;
    max-width: 1200px;
    margin-left: 10px;
}
.test-text
{
    width: 600px;
}
.hero-list-sorting-buttons
{
    height: 80px;
    display: block;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.text-window #unity-text-input
{
    height: 35px;
    width: 100px;
    background-color: rgb(234,236,208);
    
}
.heroes-bar
{
    flex-direction: row;
}
.basic-bar
{
    flex-direction: row;
}
.my-button
{
    /*width: 120px;
    height: 30px;
    background-color: rgb(234,236,208);*/
    font-size: 20px;
}
.my-button-hover
{
    background-color: rgb(224,226,199);
}
.my-button-pressed
{
    background-color: rgb(183,184,162);
}
.basic-text-container,
.basic-text-container-small,
.basic-text-container-medium,
.basic-text-container-120px,
.basic-text-container-large,
.basic-text-container-pictogram
{
    height: 30px;
    /* -unity-background-image-tint-color: rgb(150, 150, 224); */
	
    background-color: rgb(234,236,208);
    justify-content: center;

    margin-right: 5px;
    margin-top:5px;
}
.basic-text-container-small
{
    width: 50px;
}
.basic-text-container-medium
{
    width: 100px;
}
.basic-text-container-120px
{
    width:120px;
}
.basic-text-container-large
{
    width: 200px;
}
.basic-text-image
{
    width: 100px;
    height: 30px;
    /* background-image: project://database/Assets/Sprites/Generic/Square.png;*/ 
}
.basic-text-container-pictogram
{
    width: 30px;
}
.pictogram
{

}
.basic-text-text
{
    /* width: 120px; */
    height: 30px;
    /*text-align: center;*/
    -unity-text-align: middle-left;
    font-size: 20px;
    position: relative; 
    align-self: center;

}


